//Si en algún momento me diera por cambiarlo, el tema de píxeles y eso está para matarme

.app-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.content {
    margin-left: 170px;
    margin-top: 100px;
    padding: 50px;
}

.topbar {
    width: 100%;
    height: 100px;
    align-items: center;
    background-color: var(--clear-60);
    margin-left: 50px;
    position: fixed;
    top: 0;
    z-index: 999;
}

.topbar h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sidebar {
    position: fixed;
    width: 170px;
    height: 100vh;
    background: var(--clear-60);
    font-size: 0.8em;
}

.nav {
    position: relative;
    margin: 0 15%;
    text-align: right;
    top: 40%;
    transform: translateY(-50%);
    font-weight: bold;
}

.nav ul {
    list-style: none;

    li {
        position: relative;
        margin: 3.2em 0;

        a {
            line-height: 5em;
            text-transform: uppercase;
            text-decoration: none;
            letter-spacing: 0.4em;
            color: rgba(black, 0.35);
            display: block;
            transition: all ease-out 300ms;
        }

        &.active a {
            color: black;
        }

        &:not(.active)::after {
            opacity: 0.2;
        }

        &:not(.active):hover a {
            color: rgba(#fff, 0.75);
        }

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 0.2em;
            left: 0;
            bottom: 0;
            background-image: linear-gradient(
                to right,
                var(--clear-60),
                var(--clear-90)
            );
        }
    }
}
