<div class="create-window" *ngIf="!loading">
    <div class="left-side">
        <div class="title-bar">
            <h2 *ngIf="!edit" else #titleEdit>Create a book</h2>
            <h2 #titleEdit>Edit the book {{ originalBookName }}</h2>
            <button
                *ngIf="!edit"
                else
                #buttonEdit
                mat-raised-button
                class="primary"
                [disabled]="!bookName"
                (click)="createBook()"
            >
                Save
            </button>
            <button
                #buttonEdit
                mat-raised-button
                class="primary"
                [disabled]="!bookName"
                (click)="editBook()"
            >
                Save changes
            </button>
            <button mat-raised-button class="cancel" routerLink="..">
                Cancel
            </button>
        </div>
        <form class="book-form">
            <mat-form-field style="width: 300px">
                <mat-label>Book name</mat-label>
                <input
                    matInput
                    [(ngModel)]="bookName"
                    placeholder="Ex. Mattew"
                    name="bookName"
                    maxlength="15"
                />
            </mat-form-field>

            <div class="title-bar">
                <h3>Add verses</h3>
                <button
                    mat-raised-button
                    class="primary"
                    [disabled]="!correctVerse"
                    (click)="addVerse()"
                >
                    Add
                </button>
            </div>
            <div class="verse-selector">
                <mat-form-field>
                    <mat-label>Bible book</mat-label>
                    <mat-select
                        [(ngModel)]="bibleBook"
                        (selectionChange)="getVerse()"
                        name="bibleBook"
                    >
                        <mat-option
                            *ngFor="let bibleBook of bibleBooks"
                            [value]="bibleBook"
                        >
                            {{ bibleBook }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="number-input">
                    <mat-label>Chapter</mat-label>
                    <input
                        (input)="getVerse()"
                        [(ngModel)]="chapterNumber"
                        name="chapterNumber"
                        type="number"
                        oninput="javascript: if (this.value.length > 4) this.value = this.value.slice(0, 4); this.value = Math.abs(this.value);"
                        matInput
                    />
                </mat-form-field>
                <mat-form-field class="number-input">
                    <mat-label>Verse</mat-label>
                    <input
                        (input)="getVerse()"
                        [(ngModel)]="verseNumber"
                        name="verseNumber"
                        type="number"
                        oninput="javascript: if (this.value.length > 4) this.value = this.value.slice(0, 4); this.value = Math.abs(this.value);"
                        matInput
                    />
                </mat-form-field>
            </div>
            <div>
                <b *ngIf="correctVerse; else error">
                    <h4>
                        Verse {{ bibleBook }} {{ chapterNumber }}:{{
                            verseNumber
                        }}
                    </h4>
                    <i>
                        <p>{{ selectedVerse.text }}</p>
                    </i>
                </b>
                <ng-template #error>
                    <p *ngIf="bibleBook">The selected verse doesn't exists</p>
                </ng-template>
            </div>
        </form>
    </div>
    <div class="right-side">
        <div class="title-bar">
            <h3>Verses in the book {{ bookName }}</h3>
        </div>
        <b *ngFor="let verse of bookVerses; let i = index">
            <h4>
                Verse {{ verse.book_name }} {{ verse.chapter }}:{{
                    verse.verse
                }}
            </h4>
            <div style="display: flex; gap: 10px">
                <i>
                    <p>{{ verse.text }}</p>
                </i>
                <svg
                    viewBox="0 0 24 24"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                    class="button clickable"
                    (click)="deleteVerse(i)"
                >
                    <path
                        d="M10 11V17"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M14 11V17"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M4 7H20"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M6 7H12H18V18C18 19.6569 16.6569 21 15 21H9C7.34315 21 6 19.6569 6 18V7Z"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                    <path
                        d="M9 5C9 3.89543 9.89543 3 11 3H13C14.1046 3 15 3.89543 15 5V7H9V5Z"
                        stroke="#000000"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                    />
                </svg>
            </div>
        </b>
    </div>
</div>
